body {
  font-family: "League Spartan", sans-serif;

  font-weight: 200;

  font-style: normal;

  background-image: url(img/dfjellssongif.gif);
  background-attachment: fixed;
  background-size: cover;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.a {
  text-decoration: none;
}

.vl1 {
  background-color: #b9bb47;
  width: 1px;
  height: 100%;
  position: fixed;
  left: 25vw;
  top: 0;
}

.vl2 {
  background-color: #b9bb47;
  width: 1px;
  height: 100%;
  position: fixed;
  right: 25vw;
  top: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
}

.column:hover {
  cursor: pointer;
}

.column:hover h1 {
  color: #fcff58;
}
.column:hover h6 {
  color: #fcff58;
}

ul {
  padding: 0;
}

.ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.li {
  color: #b9bb47;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

li:hover {
  cursor: pointer;
  color: #fcff58;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3% 15% 3% 15%;
}

h1 {
  color: #b9bb47;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  margin: 1rem;
}

h6 {
  color: #b9bb47;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
  white-space: nowrap;
}

p {
  line-height: 1.5rem;
  margin-bottom: 4rem;
}

h2 {
  color: #b9bb47;
  font-weight: 700;
  font-size: 3rem;
  margin: 1% 1% 1% 1%;
  width: min-content;
}

.rotated {
  transform: rotate(90deg);
  position: absolute;
  top: 20px;
  left: 0vw;
  width: 5vw;
}

.section {
  position: relative;
  min-height: 10rem;
  border-top: 1px solid #b9bb47;
}

.section2 {
  position: relative;
  border-top: 1px solid #b9bb47;
  border-bottom: 1px solid #b9bb47;
}

.column2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  height: 300px;
}

.h6 {
  margin: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 1rem;
}

.icon {
  width: 5vw;
  height: 5vw;
  margin: 1rem;
  opacity: 70%;
}

.icon:hover {
  opacity: 100%;
}

@media screen and (min-width: 2000px) {
  .section1 {
    height: 35vh;
  }

  .section2 {
    height: 35vh;
  }

  .li {
    font-size: 2vw;
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 3vw;
    margin: 2% 2% 2% 2%;
  }

  h6 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1062px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  .li {
    padding: none;
    margin-top: 5vw;
    font-size: 3vw;
  }

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h6 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 220px;
  }

  .li {
    padding: none;
    margin-top: 5vw;
    font-size: 3vw;
  }

  h1 {
    font-size: 14vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h6 {
    font-size: 4.5vw;
  }

  .vl1 {
    left: 50px;
  }

  .vl2 {
    right: 50px;
  }

  .icon {
    width: 10vw;
    height: 10vw;
  }
}
