body {
  font-family: "League Spartan", sans-serif;

  font-weight: 200;

  font-style: normal;

  background-image: url(img/dfjellssongif.gif);
  background-size: cover;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.a {
  text-decoration: none;
}

.vl1 {
  background-color: #b9bb47;
  width: 1px;
  height: 100%;
  position: fixed;
  left: 10vw;
  top: 0;
}

.vl2 {
  background-color: #b9bb47;
  width: 1px;
  height: 100%;
  position: fixed;
  right: 10vw;
  top: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column:hover {
  cursor: pointer;
}

.column:hover h1 {
  color: #fcff58;
}
.column:hover h6 {
  color: #fcff58;
}

ul {
  padding: 0;
}

.ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.li {
  color: #b9bb47;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

li:hover {
  cursor: pointer;
  color: #fcff58;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5% 15% 5% 15%;
  height: 350px;
}

p {
  color: #b9bb47;
  font-size: 3vw;
  font-weight: 400;
  margin-top: 22vh;
  white-space: nowrap;
  text-decoration: none;
}

h1 {
  color: #b9bb47;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  margin: 1rem;
}

h6 {
  color: #b9bb47;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
  white-space: nowrap;
}

h2 {
  color: #b9bb47;
  font-weight: 700;
  font-size: 3rem;
  margin: 1% 1% 1% 1%;
  width: min-content;
}

.rotated {
  transform: rotate(90deg);
  position: absolute;
  top: 20px;
  left: 0vw;
  width: 5vw;
}

.section {
  position: relative;
  border-top: 1px solid #b9bb47;
}

.section1 {
  position: relative;
  min-height: 16vh;
  border-bottom: 1px solid #b9bb47;
}

.section2 {
  position: relative;
  min-height: 16rem;
  border-top: 1px solid #b9bb47;
}

.section3 {
  position: relative;
  min-height: 10rem;
  border-top: 1px solid #b9bb47;
}

@media screen and (min-width: 2000px) {
  .section1 {
    height: 35vh;
  }

  .section2 {
    height: 35vh;
  }

  .li {
    font-size: 2vw;
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 3vw;
    margin: 2% 2% 2% 2%;
  }

  h6 {
    font-size: 2vw;
  }

  p {
    font-size: 3vw;
  }

  img {
    width: 1000px;
    height: 1000px;
  }

  iframe {
    width: 1000px;
    height: 1000px;
  }
}

@media screen and (max-width: 1062px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }
  .li {
    padding: none;
    margin-top: 5vw;
    font-size: 3vw;
  }

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h6 {
    font-size: 3vw;
  }

  p {
    font-size: 3.5vw;
    margin-top: 25vh;
  }
}

@media screen and (max-width: 600px) {
  .section1 {
    height: 22vh;
  }

  .section2 {
    height: 35vh;
  }

  nav {
    flex-direction: column;
    justify-content: center;
  }
  .li {
    padding: none;
    margin-top: 5vw;
    font-size: 5vw;
  }

  h1 {
    font-size: 14vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h6 {
    font-size: 4.5vw;
  }

  .vl1 {
    left: 45px;
  }

  .vl2 {
    right: 45px;
  }

  p {
    font-size: 3.5vw;
    margin-top: 35vh;
  }

  iframe {
    height: 300px;
  }
}

img {
  margin-left: 4px;
  margin-right: 4px;
}

.container {
  width: auto;
  height: auto;
}

.top {
  display: flex;
  justify-items: center;
  margin-top: 5vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5vw;
}
.top ul {
  list-style: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}
.top ul li {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.top ul li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: "";
  color: #b9bb47;
  opacity: 50;
  text-align: center;
  box-sizing: border-box;
  pointer-events: none;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.top ul li:hover::before {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.top ul li img {
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 75%;
}

.top ul li img:hover {
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 100%;
}

.lightbox {
  opacity: 0;

  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  pointer-events: none;
  text-decoration: none;
}

.lightbox p {
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  position: relative;
  top: -100%;
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox iframe {
  max-width: 90%;
  max-height: 80%;
  position: relative;
  top: -100%;
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox:target {
  opacity: 1;
  outline: none;
  top: 0;
  pointer-events: auto;
  transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
}

.lightbox:target p {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  top: 25%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.lightbox:target img {
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.lightbox:target iframe {
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
